.grid-container {
    display: grid;
    overflow-y: scroll;
    gap: 1px 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "key ." "field1 field1";
    
    .key { grid-area: key; }
  
    .field1 { grid-area: field1; }
  }
  .buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}
::ng-deep {
  header .main-content, main .main-content{
      padding-top: 0%!important;
  }
}
// .b3 {
//   border: dashed 1px;
//   display: inline-block;
//   width: 30%;
//   background-color: #e3e3e3;
//   height: 100px;
//   position: absolute;
// }
