.grid-container {
    display: grid;
    overflow-y: scroll;
    gap: 1px 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "key ." "field1 field1";
    
    .key { grid-area: key; }
  
    .field1 { grid-area: field1; }
  }
  .buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}
::ng-deep {
  header .main-content, main .main-content{
      padding-top: 0%!important;
  }
}
.flex-container{
  display: flex;
  gap: 2rem;
  //justify-content: space-between;
}
#previewArea{
  box-shadow: var(--pep-shadow-md-offset, 0 0.5rem 1rem 0) hsla(var(--pep-color-system-primary-h, 0), var(--pep-color-system-primary-s, 0%), var(--pep-color-system-primary-l, 10%), 0.08);
  padding: 1rem;
  border-radius: var(--pep-border-radius-lg);

}

// .b3 {
//   border: dashed 1px;
//   display: inline-block;
//   width: 30%;
//   background-color: #e3e3e3;
//   height: 100px;
//   position: absolute;
// }
