<div class="addon-page-container" style="max-width: 80rem;margin-bottom: 2rem;">
    <pep-top-bar [inline]="false">
        <div header-start-content>
            <div class="buttons-container">
                <pep-button [value]="'Charts manager' | translate" [iconPosition]="'start'" (buttonClick)="backClicked()" [iconName]="'arrow_left_alt'"></pep-button>
            </div>
        </div>
        <div header-end-content>
            <div class="buttons-container">
                <pep-button *ngIf="!chart.ReadOnly" [value]="'Cancel' | translate" [styleType]="'strong'" (buttonClick)="cancelClicked()"></pep-button>
                <pep-button *ngIf="!chart.ReadOnly" [value]="(mode == 'Add' ? 'Add' : 'Update') | translate" [styleType]="'strong'" [disabled]="(chart.Name=='' || chart.ScriptURI=='' )" (buttonClick)="saveClicked()"></pep-button>
            </div>
        </div>
    </pep-top-bar>
    <br />
    <div class="main-content">
        <div *ngIf="!loading" class="form">
            <div class="flex-container">
                <div style="width: 30rem;">
                    <pep-textbox [label]="'Name' | translate" [(value)]="chart.Name" [type]="'text'" [disabled]="chart.ReadOnly || mode == 'Update'" [mandatory]="true" (valueChange)="onValueChanged('Name', $event)"></pep-textbox>
                    <pep-textbox [label]="'Description' | translate" [(value)]="chart.Description" [disabled]="chart.ReadOnly" [type]="'text'" (valueChange)="onValueChanged('Descriptoin', $event)"></pep-textbox>
                    <pep-select [label]="'Type'| translate" [disabled]="mode =='Update'" [emptyOption]="false" [value]="chart.Type" [xAlignment]="'left'" [options]='chartTypeOptions' (valueChange)="onValueChanged('Type',$event)">
                    </pep-select>
                    <pep-attachment rowSpan="2" [key]="'attachment1'" label="{{ 'Template file' | translate }}" [disabled]="chart.ReadOnly" [src]="chart.ScriptURI" [mandatory]="true" (fileChange)="onFileSelect($event)">
                    </pep-attachment>
                </div>
                <div style="width: 47rem;">
                    <pep-field-title class="body-xs title" *ngIf="this.chartInstance" [label]="'Preview' | translate" class="header">
                    </pep-field-title>
                    <!-- <label [hidden]="!this.chartInstance">{{'Preview' | translate}}</label> -->
                    <div [hidden]="!this.chartInstance" id="previewArea">
                    </div>
                </div>
            </div>
        </div>
    </div>